 /*@font-face { 
 	font-family: Delicious; 
 	src: url('Delicious-Roman.otf'); 
 } 
*/
body {
	font-family: 'Delicious', 'Garamond';
	color: #28394D;
	text-align: center;
	font-size: 2em;
}


.menuTiles {
	width: 8em;
	height: 2em;
	padding-top: 2em;
	text-align: center;
	margin-top: .1em;
	margin-left: .1em;
	color: white;
	border-radius: .2em;
}

/*#background{
	background-color: black;
	width: 100%;
	height: 100%;
	position: relative;

}*/

/*#menuTopBar{
	background-color: gray;

}*/

#books {
	background-color: #41013e;
	position: absolute;
	margin-left: 3.2em;
	margin-top: .1em;
}

#booksTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#church {
	background-color: #690505;
	position: absolute;
	margin-left: 12.2em;
	margin-top: .1em;
}

#churchTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#code {
	background-color: #04442c;
	position: absolute;
	margin-left: 21.2em;
	margin-top: .1em;
}

#codeTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#family {
	background-color: #031d50;
	position: absolute;
	margin-left: 30.2em;
	margin-top: .1em;
}

#familyTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

/*#menuLeftMiddleBar{ 

}

#menuRightMiddleBar{
	display: block;
	float: right;
}*/

#fitness {
	background-color: #c89d4e;
	position: absolute;
	margin-left: 3.2em;
	margin-top: 4.7em;
}

#fitnessTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#food {
	background-color: #41013e;
	position: absolute;
	margin-left: 30.2em;
	margin-top: 4.7em;
}

#foodTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#jordonHQ {
	position: absolute;
	margin-left: 12.2em;
	margin-top: 4.7em;
	width: 17em;
	height: 6.6em;
	border-radius: .2em;
	background-color: black;
}

#jordonHQImage{
	background-size: cover;
	width: 7em;
	height: 8.6em;
	margin-top: -2em;
	border-radius: .1em;
}

#jordonHQTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: .8em;
	text-align: center;
	margin-top: -3.4em;
}	

#games {
	background-color: #690505;
	position: absolute;
	margin-left: 3.2em;
	margin-top: 9.3em;
}

#gamesTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#garden {
	background-color: #04442c;
	position: absolute;
	margin-left: 30.2em;
	margin-top: 9.3em;
}

#gardenTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

/*#menuBottomBar{
	display: inline-block;
}*/

#house {
	background-color: #031d50;
	position: absolute;
	margin-left: 3.2em;
	margin-top: 13.9em;
}

#houseTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#movies {
	background-color: #c89d4e;
	position: absolute;
	margin-left: 12.2em;
	margin-top: 13.9em;
}

#moviesTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#music {
	background-color: #41013e;
	position: absolute;
	margin-left: 21.2em;
	margin-top: 13.9em;
}

#musicTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#personal {
	background-color: #690505;
	position: absolute;
	margin-left: 30.2em;
	margin-top: 13.9em;
}

#personalTitle {
	color: white;
	font-family: Delicious, Garamond;
	font-size: 1em;
	text-align: center;
}

#slp {
	background-color: #04442c;
	position: absolute;
	margin-left: 3.2em;
	margin-top: 18.5em;
}

#tech {
	background-color: #031d50;
	position: absolute;
	margin-left: 21.2em;
	margin-top: 18.5em;
}

.extraTiles {
	color: white;
	width: 17em;
	height: 1em;
}